body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    /* Cabeçalho */
    header {
    background-color: #008080;
    color: white;
    padding: 20px;
    text-align: center;
    }
    /* Seções */
    section {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    }
    /* Títulos */
    h1 {
    font-size: 2.2em;
    }
    h2 {
    color: #008080;
    border-bottom: 2px solid #008080;
    padding-bottom: 5px;
    }
    /* Área de serviços */
    .services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content
    }